/* Reset styles */
* {
    margin: 0;
    padding: 0
}
 
/* Core Styles */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #124191;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1rem 0;
}

p {
    margin: 0;
    padding: 1rem 0;
}

.button {
    display: inline-block;
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 1rem 3rem;
    border: 1px solid #fff;
    margin: .5rem 0;
}

.button:hover, 
.main-nav a:hover{
    background: #eaeaea;
    color: #333;
}

/* Navigation */
.main-nav ul {
    display: grid;
    padding: 0;
    list-style: none;
}

.main-nav a {
    display: block;
    background: #2690d4;
    color: #fff;
    grid-gap: 1rem;
    padding: 0.8;
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Header Showcase */

#showcase {
    min-height: 450px;
    color: #fff;
}

#showcase .bg-image {
    position: absolute;
    background: url("C:\Users\Angel\Documents\GitHub\frenZing\images\showcase-together-world.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    font-family: 'Monoton', cursive;
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5rem;
}

/* Section A */
#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2rem;
}

/* Section B */
#section-b {
    padding: 2rem 1rem 1rem;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1rem;
    background: #fff;
    color: #333;
}

.card-content {
    padding: .5rem;
}

/* Section C */

#section-c .box {
    padding: 2rem;
    color: #fff;
    background: #666
}

#section-c .box:first-child {
    background: #2690d4;
}

/* Section D */

#section-d {
    background: #fff;
    color: #333;
    padding: 2rem;
}

/* Footer */

#footer {
    padding: 2rem;
    background: #000;
    color: #fff;
    text-align: center;
}

#footer a {
    color: #2690d4;
    text-decoration: none;
}

/* Media Query */

@media (min-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30rem)) 1fr;
    }

    .main-nav ul {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: repeat(4, 1fr);
    }
    
    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
}

    .box, footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
