/* Reset styles / Basic normalisation */
* {
    margin: 0;
    padding: 0
}
 
/* Core Styles */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #124191;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1rem 0;
}

p {
    margin: 0;
    padding: 1rem 0;
}

.button {
    display: inline-block;
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 1rem 3rem;
    border: 1px solid #fff;
    margin: .5rem 0;
}

.button:hover, 
#main-nav a:hover{
    background: #eaeaea;
    color: #333;
}

/* Navigation */
#main-nav ul {
    display: grid;
    padding: 0;
    list-style: none;
}

#main-nav a {
    display: block;
    background: transparent;
    color: #fff;
    grid-gap: 1rem;
    padding: 0.8rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 20px 0 0 20px;
}

/* Header Showcase */

#showcase {
    min-height: 500px;
    color: #fff;
}

#showcase .bg-image {
    position: absolute;
    background: url("https://images.pexels.com/photos/159627/pencils-clips-colour-pencils-foam-rubber-159627.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    font-family: 'Pattaya', sans-serif;
    padding-top: 100px;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 100px;
    
}
#showcase p {
    font-size: 35px;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5rem;
}

/* Section A */
#section-a {
    background: #eaeaea;
    color: #333;
    height: auto;
}

#section-a .bg-image {
    position: absolute;
    background: url("https://cdn.pixabay.com/photo/2016/02/08/17/53/silhouettes-1186996_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#section-a h2 {
    font-size: 50px;
    color: #124191;
}
/* Section B */
#section-b {
    padding: 2rem 1rem 1rem;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1rem;
    background: #fff;
    color: #333;
}

.card-content {
    padding: .5rem;
}

/* Section C */

#section-c .box {
    padding: 2rem;
    color: #fff;
    background: #666
}

#section-c .box:first-child {
    background: #2690d4;
}

/* Section D */

#section-d {
    background: #fff;
    color: #333;
    margin-top: 200px;
    padding: 2rem;
}

/* Footer */

#footer {
    padding: 2rem;
    background: #000;
    color: #fff;
    text-align: center;
}

/* #footer .col-half-right {
    text-align: right;
}
#footer .col-half-left {
    text-align: left;
} */
#footer a {
    color: #2690d4;
    text-decoration: none;
}

/* Media Query */

@media (min-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30rem)) 1fr;
    }

    #main-nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5rem;
    }
    
    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
}

    .box, footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
